<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>     
      <% include nav %>
      <img src="/images/blue.png"/>
      <%if(locals.isLogin){%>
         已登录  <a href="/form/loginout">退出登录</a>
      <%}else{%>
      <form method="post">
          用户名：<input type="text" id="txtUserName" name="txtUserName" />
          密码：<input type="password" id="txtUserPwd" name="txtUserPwd" />
          <input type="submit" value="提交">
      </form>
      <%}%>
  </body>
</html>